*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {

    --ff-primary: 'Poppins', sans-serif; 
    --ff-secondary: 'Source Code Pro', monospace;
    --ff-modern: 'Poppins', sans-serif; 

    --fw-reg: 600;
    --fw-bold: 900;

    /*COLOURS*/
    --clr-drk: #26000a;             /* Muted dark brown */
    --clr-accent: #51081b;          /* Muted deep red */
    --clr-accent-light: #950e32;    /* Muted lighter red */
    --clr-lt: #d7ccc8;              /* Muted light cream */

    border-radius: 10px; /* Add rounded corners */

    /*FONT SIZES*/
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /*BOX SHADOWS*/
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/* Responsive styles */
@media (max-width: 768px) {
    .intro__blurb p {
        font-size: 1rem; /* Adjust font size for mobile screens */
        line-height: 1.5; /* Adjust line height for better readability */
        margin: 0 1em; /* Add margin to the sides for better spacing */
    }

    .intro__img {
        width: 100%; /* Make the image responsive */
        height: auto;
    }

    .section__subtitle--intro {
        font-size: 1.5rem; /* Adjust subtitle font size for mobile screens */
    }

    .section__title--intro {
        font-size: 2rem; /* Adjust title font size for mobile screens */
    }
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background: var(--clr-drk);
    color: var(--clr-lt);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }


:focus {
    outline: 0px solid var(--clr-accent);
    outline-offset: 3px;
}

.btn {
    align-items: center;
    display: inline-block;
    padding: .5em 1em;
    background: var(--clr-accent);
    color: var(--clr-lt);
    text-decoration: none;
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: var(--fw-bold);
    transition: transform 300ms ease-in-out;
}

.btn:hover {
    transform: scale(1.25);
}

h1,
h2,
h3 {
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    padding-top: 30px;
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent-light);
    padding: .25em 1em;
    font-family: var(--ff-primary);
    color: var(--clr-drk);

    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}


/**********/
/* HEADER */
/**********/

header {
    display: flex;
    justify-content: space-between;
}

.nav {
    position: fixed;
    background: var(--clr-lt);
    color: var(--clr-lt);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: 600ms ease-in-out;
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start; /* toggling flex display*/
    align-items: left;
    padding: 5 10em; /*padding for the list*/
}

.nav__link {
    color: var(--clr-drk);
    font-weight: var(--fw-bold);
    font-size: 2rem;
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent); /*includes hover colour and box accent*/
}
/*begin hamburger implementation*/
.nav-toggle { 
    padding: 2em;
    background: transparent; /*removes surrounding grey box*/
    border: 0;
    cursor: pointer; /*change pointer when hovering over*/
    position: absolute;
    right: 2em; /*hugs right while maintaining padding distance*/
    top: 0em;
    z-index: 1000;
}

.nav-open .nav{
    transform: translateX(40%);
}

.nav-open .nav-toggle{
    position: fixed;
}

.nav-open .hamburger{
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: fixed; /*for pseudo elements*/
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 3em;
    height: 4px;
    border-radius: 100px;
    transition: 500ms ease-in-out;
}

.hamburger::before, /*pseudo elements*/
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;

}

.hamburger::before { top: 8px; } /*icon setup*/
.hamburger::after { bottom: 8px; }

/*********/
/* SHOP */
/*********/

.shop {
    padding: 4em;
    background: linear-gradient(to bottom, var(--clr-drk), rgb(15, 9, 26));
    color: var(--clr-lt);
    text-align: center;
    align-items: center; /* Center the experiences horizontally */
    justify-content: center; /* Center the content within each experience item */
}

.shop p {
    margin-bottom: 1em;
}

.prints-grid {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid layout */
    margin: 1em auto;
    max-width: calc(100% - 20px); /* Adjust max-width to account for padding */
    max-height: calc(100% - 20px); /* Adjust max-height to account for padding */
    padding: 5em 2em 5em; /* 1em padding left/right and 20em padding bottom */
}

/* Container for each print item */
.print__img-container {
    margin: 1em auto;           /* Center the container with spacing */
    text-align: center;
    transition: transform 500ms ease-in-out;

}
.print__img-container:hover {
    transform: scale(1.5);
}

/* Style for the print image */
.print__img {
    max-height: 500px;               /* Set a convenient width */
    width: 100%;                /* Fit within container */
    box-shadow: var(--bs);
    border-radius: 5px;         /* Optional: rounded corners */
}

/* Container for text details under the image */
.print__details {
    margin-top: 0.5em;
    font-size: 0.9rem;
    color: var(--clr-lt);
    line-height: 1.4;
}

/* Individual text elements */
.print__title {
    font-weight: bold;
    margin-bottom: 0.2em;
}

.print__price,
.print__sizing,
.print__description {
    display: block;
    color: var(--clr-lt);
    margin-bottom: 0.2em;
}



/*********/
/* INTRO */
/*********/

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
    width: 100%; /* Adjust the width as needed */
    max-width: 500px; /* Set a maximum width */
    height: auto; /* Maintain aspect ratio */
}

.intro__blurb{
    font-size: 1.25rem;
    color: var(--clr-lt);
    margin-top: 1em;
    text-align: center;
    max-width: 500px; /* Set a maximum width for the blurb box */


}

@media (min-width: 600px) {
    .intro {
        padding-top: 5em; /* Add padding to the top */
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle"
            "img blurb";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 300px; /* Adjust the minimum width as needed */
        max-width: 600px; /* Adjust the maximum width as needed */
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }


    .intro__blurb {
        grid-area: blurb;
        text-align: left;
        margin-top: 0px;
        margin-left: 10px;
        max-width: 400px; /* Set a maximum width for the blurb box */
    }
}

/***************/
/* EXPERIENCES */
/***************/

.work-experience {
    background-image: url(../img/mdc.jpg);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-lt);
    text-align: center;
    align-items: center; /* Center the experiences horizontally */
    justify-content: center; /* Center the content within each experience item */
}

.section__title--experiences::after {
    content: '';
    display: block;
    width: 2em;
    height: .5px;
    margin: 0.5em auto 0.5em;
    background: var(--clr-drk);
    opacity: 0.25;

}

.experiences {
    margin-bottom: 4em;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap within the container */
    gap: 1.5em; /* Add space between each experience item */
    align-items: center; /* Center the experiences horizontally */
    justify-content: center; /* Center the content within each experience item */
}

.experience {
    background: rgba(215, 204, 200, 0.7); /* Grey background */
    border: 2px solid var(--clr-drk); /* Dark border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
    box-shadow: var(--bs); /* Box shadow for depth */

    align-items: center;
    justify-content: center; /* Center the content within each experience item */

    transition: transform 300ms ease-in-out;
    display: flex;
    min-width: 400px; /* Adjust the size as needed */
    position: relative;
    margin-bottom: 20px; /* Space between boxes */
    text-decoration: none;

}

.experience:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    text-decoration: underline;
}

.experience__logo {
    width: 100px; /* Adjust the size as needed */
    height: auto;
    margin-right: 15px; /* Space between the logo and the text */
    margin-left: 15px; /* Space between the logo and the text */
}

.experience h3 {
    font-size: 2.5rem;
    margin-top: 0;
    color: var(--clr-accent); /* Accent color for headings */
    opacity: 1;
    padding-bottom: 5px;
}
.experience h4 {
    font-size: 1.75rem;
    margin-top: 0;
    margin-bottom: 0;

    color: var(--clr-drk); /* Accent color for headings */
    opacity: 1;
}

.experience p {
    color: var(--clr-drk); /* Dark color for text */
    margin-top: 0rem;;
    opacity: 1;
    font-weight: var(--fw-reg)

}

.diva__img {
    display: block;
    margin: 0 auto;       /* centers the image */
    padding: 0 1em;       /* adds padding to left and right */
    max-width: 100%;      /* ensures responsiveness */
}

@media (min-width: 800px) {
    .experiences {
        display: flex;
        align-items: center;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

}


.about-me {
    background: linear-gradient(to bottom, var(--clr-drk), rgb(15, 9, 26));
    max-width: 1500px;
    margin: 0 auto;
}
.about-me__text p {
    margin-bottom: 1em; /* Add space between paragraphs */
}

@media (min-width: 800px){
    .about-me {
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
        padding-left: 1em; /* Add padding to the left of the body paragraph */

    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);

    }

    .about-me__img {
        grid-area: img;
        padding-right: 5em; /* Add padding to the left of the body paragraph */
        z-index: 2;
    }
    .about-me__text {
        grid-area: text;
        padding-left: 5em; /* Add padding to the left of the body paragraph */
    }
}

/************/
/* ARTWORKS */
/************/
.artwork {
    background-color: var(--clr-lt);
    color: var(--clr-drk);
    text-align: center;
    align-items: center; /* Center the experiences horizontally */
}

.portfolio {
    padding-top: 1.5em;
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: rgb(15, 9, 26);
    border: 2px solid var(--clr-lt); /* Add border */
    border-radius: 10px; /* Add rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px; /* Add padding to extend border */
    position: relative;
    overflow: hidden;
}

.portfolio__item::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-lt);
    font-size: 3rem;
    font-weight: var(--fw-bold);
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    pointer-events: none; /* Ensure the text does not interfere with hover */
    z-index: 3;

}

.portfolio__item:hover::before {
    opacity: 1;
}

.portfolio__item:hover {
    background: var(--clr-accent);
}

.portfolio__img {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1), opacity 250ms linear;
    max-width: calc(100% - 40px); /* Adjust max-width to account for padding */
    max-height: calc(100% - 40px); /* Adjust max-height to account for padding */
    border-radius: 10px; /* Add rounded corners */
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__item:hover .portfolio__img {
    transform: scale(1.1);
    opacity: 0.75;
}

/***************/
/* ART SUBPAGE */
/***************/

.subpage {
    display: grid;
    align-items: center; 
    justify-content: center; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 2rem)); 
}

.subpage__img {
    color: var(--clr-drk);
    align-items: center; /* Center the experiences horizontally */
    justify-content: center; /* Center the content within each experience item */
    max-height: 500px;               /* Set a convenient width */
    width: 100%;                /* Fit within container */
    transition: transform 750ms ease-in-out;
    border-radius: 5px;         /* Optional: rounded corners */
    padding: .5em .5em .5em; /* 1em padding left/right and 20em padding bottom */
}
.subpage__img:hover{
    box-shadow: var(--bs);
    transform: scale(1.25);
    opacity: 1;
    border-radius: 0px; /* Remove rounded corners */
    z-index: 3;
    border-radius: 0px;         /* Optional: rounded corners */
}


/*************/
/* AEROSPACE */
/*************/

.patch {

    text-align: center;
    align-items: center; /* Center the experiences horizontally */
    justify-content: center; /* Center the content within each experience item */
}
.patch p{
    margin-bottom: 1em; /* Add space between paragraphs */
}
.section__title--patch {
    grid-area: title;
    padding-left: 1em; /* Add padding to the left of the body paragraph */

}

.section__subtitle--patch {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);

}

.patches {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap within the container */
    gap: 1.5em; /* Add space between each experience item */
    align-items: center; /* Center the experiences horizontally */
    justify-content: center; /* Center the content within each experience item */

    display: grid;
    flex-wrap: wrap; /* Allow items to wrap within the container */
    align-items: center; /* Center the experiences horizontally */
    gap: 18px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background: linear-gradient(to top, var(--clr-drk), var(--clr-accent));

}

.patch__img {
    transition: transform 750ms ease-in-out;
    max-width: calc(100% - 20px); /* Adjust max-width to account for padding */
    max-height: calc(100% - 20px); /* Adjust max-height to account for padding */
}

.patch__img:hover {
    transform: scale(1.25);
    opacity: 1;
    border-radius: 0px; /* Remove rounded corners */
    z-index: 3;
}

.launch__vid {
    grid-area: img;
    max-height: 600px;
    padding-top: 2em; /* Add padding to the left of the body paragraph */

    padding-left: 2.5em; /* Add padding to the left of the body paragraph */

    padding-right: 2.5em; /* Add padding to the left of the body paragraph */
    z-index: 2;
    flex-wrap: wrap; /* Allow items to wrap within the container */
    align-items: center; /* Center the experiences horizontally */
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    transition: transform 750ms ease-in-out;

}

.launch__vid:hover {
    transform: scale(1.25);
    opacity: 1;
    border-radius: 0px; /* Remove rounded corners */
    z-index: 3;
}

.video-container-dark {
    background: linear-gradient(to bottom, var(--clr-drk), rgb(15, 9, 26));
    padding: 1rem;           /* optional: add spacing around the videos */
}



/**********/
/* FOOTER */
/**********/

.footer {
    background: rgb(15, 9, 26);
    color: #950e32;
    text-align: center;
    padding: 2em 0;
    font-size: var(--fs-h3);

}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    color: rgb(191, 190, 193);
}

.footer__link:hover {
    color: rgb(191, 190, 193);
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-list__item {
    margin: 0.5em;
}

.social-list__link {
    color: rgb(191, 190, 193);
}


