*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 600;
    --fw-bold: 900;

    /*COLOURS*/
    --clr-drk: #26000a;             /* Muted dark brown */
    --clr-accent: #51081b;          /* Muted deep red */
    --clr-accent-light: #950e32;    /* Muted lighter red */
    --clr-lt: #d7ccc8;              /* Muted light cream */

    border-radius: 10px; /* Add rounded corners */

    /*FONT SIZES*/
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 2rem;

    /*BOX SHADOWS*/
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-drk);
    color: var(--clr-lt);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }


:focus {
    outline: 0px solid var(--clr-accent);
    outline-offset: 3px;
}

.btn {
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-lt);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: var(--fw-bold);
    transition: transform 300ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    padding-top: 30px;
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent-light);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    color: var(--clr-drk);

    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}


/**********/
/* HEADER */
/**********/

header {
    display: flex;
    justify-content: space-between;
    padding: 0em;
}

.nav {
    position: fixed;
    background: var(--clr-lt);
    color: var(--clr-lt);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly; /* toggling flex display*/
    align-items: center;
    margin: 0; /*fix allignment issues*/
    padding: 0;
}

.nav__link {
    color: var(--clr-drk);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent); /*includes hover colour and box accent*/
}
/*begin hamburger implementation*/
.nav-toggle { /*removes surrounding grey box*/
    padding: .25em;
    background: transparent;
    border: 0;
    cursor: pointer; /*change pointer when hovering over*/
    position: absolute;
    right: 4em; /*hugs right while maintaining padding distance*/
    top: 1em;
    z-index: 1000;
}

.nav-open .nav{
    transform: translateX(0);
}

.nav-open .nav-toggle{
    position: fixed;
}


.nav-open .hamburger{
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: fixed; /*for pseudo elements*/
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 3em;
    height: 4px;
    border-radius: 10em;
    transition: transform 400ms ease-in-out;
}

.hamburger::before, /*pseudo elements*/
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;

}


.hamburger::before { top: 8px; } /*icon setup*/
.hamburger::after { bottom: 8px; }

/*********/
/* INTRO */
/*********/

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
    width: 100%; /* Adjust the width as needed */
    max-width: 500px; /* Set a maximum width */
    height: auto; /* Maintain aspect ratio */
}

.intro__blurb{
    font-size: 1.25rem;
    color: var(--clr-lt);
    margin-top: 1em;
    text-align: center;
    max-width: 500px; /* Set a maximum width for the blurb box */


}

@media (min-width: 600px) {
    .intro {
        padding-top: 5em; /* Add padding to the top */
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle"
            "img blurb";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 300px; /* Adjust the minimum width as needed */
        max-width: 600px; /* Adjust the maximum width as needed */
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }


    .intro__blurb {
        grid-area: blurb;
        text-align: left;
        margin-top: 0px;
        margin-left: 10px;
        max-width: 400px; /* Set a maximum width for the blurb box */
    }
}

/***************/
/* EXPERIENCES */
/***************/

.work-experience {
    background-image: url(../img/mdc.jpg);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-lt);
    text-align: center;
}

.section__title--experiences::after {
    content: '';
    display: block;
    width: 2em;
    height: .5px;
    margin: 0.5em auto 0.5em;
    background: var(--clr-drk);
    opacity: 0.25;
}

.experiences {
    margin-bottom: 4em;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap within the container */
    gap: 1.5em; /* Add space between each experience item */
    align-items: center; /* Center the experiences horizontally */
    justify-content: center; /* Center the content within each experience item */

}

.experience {
    background: rgba(215, 204, 200, 0.7); /* Grey background */
    border: 2px solid var(--clr-drk); /* Dark border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
    box-shadow: var(--bs); /* Box shadow for depth */

    align-items: center;
    justify-content: center; /* Center the content within each experience item */

    transition: transform 300ms ease-in-out;
    display: flex;
    min-width: 400px; /* Adjust the size as needed */
    position: relative;


    margin-bottom: 20px; /* Space between boxes */
}


.experience:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.experience__logo {
    width: 100px; /* Adjust the size as needed */
    height: auto;
    margin-right: 15px; /* Space between the logo and the text */
    margin-left: 15px; /* Space between the logo and the text */
}

.experience h3 {
    margin-top: 0;
    color: var(--clr-accent); /* Accent color for headings */
    opacity: 1;
}

.experience__details {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allow the details to take up the remaining space */
    min-width: 0; /* Prevent overflow */
}

.experience p {
    color: var(--clr-drk); /* Dark color for text */
    opacity: 1;
    font-weight: var(--fw-reg)

}

@media (min-width: 800px) {
    .experiences {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .experience + .experience {
        margin-left: 2em;
    }
}


.about-me {
    background: linear-gradient(to bottom, var(--clr-drk), rgb(15, 9, 26));
    max-width: 1500px;
    margin: 0 auto;
}
.about-me__text p {
    margin-bottom: 1em; /* Add space between paragraphs */
}

@media (min-width: 800px){
    .about-me {
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
        padding-left: 1em; /* Add padding to the left of the body paragraph */

    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);

    }

    .about-me__img {
        grid-area: img;
        padding-right: 5em; /* Add padding to the left of the body paragraph */
        z-index: 2;
    }
    .about-me__text {
        grid-area: text;
        padding-left: 5em; /* Add padding to the left of the body paragraph */
    }
}

/************/
/* ARTWORKS */
/************/
.artwork {
    background-color: var(--clr-lt);
    color: var(--clr-drk);
    text-align: center;
}

.portfolio {
    padding-top: 1.5em;
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: rgb(15, 9, 26);
    border: 2px solid var(--clr-lt); /* Add border */
    border-radius: 10px; /* Add rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Add padding to extend border */
    position: relative;
    overflow: hidden;
    transition: background 300ms ease-in-out;
}

.portfolio__item::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-lt);
    font-size: 3rem;
    font-weight: var(--fw-bold);
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    pointer-events: none; /* Ensure the text does not interfere with hover */
    z-index: 3;

}

.portfolio__item:hover::before {
    opacity: 1;
}

.portfolio__item:hover {
    background: var(--clr-accent);
}


.portfolio__img {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1), opacity 250ms linear;
    max-width: calc(100% - 40px); /* Adjust max-width to account for padding */
    max-height: calc(100% - 40px); /* Adjust max-height to account for padding */
    border-radius: 10px; /* Add rounded corners */
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;

}

.portfolio__item:hover .portfolio__img,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.3);
    opacity: 0.5;

}

/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}


/************/
/* CAROUSEL */
/************/

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-section {
    background: linear-gradient(to bottom, var(--clr-drk), rgb(15, 9, 26));
    padding: 2em 0;
    color: var(--clr-lt);
    text-align: center;

}

.carousel__container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel__slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel__frame {
    background-color: var(--clr-lt);
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--clr-lt);
    border-radius: 10px;
    box-shadow: var(--bs);
    position: relative;
    overflow: hidden;
}

.carousel__frame img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintain aspect ratio */
    display: block;
    transition: transform 0.3s ease;

}

.carousel__frame:hover img {
    transform: scale(1.05);
}

.carousel__caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: var(--clr-lt);
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 1rem;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 1em;
    cursor: pointer;
    z-index: 2;
    font-size: 2rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
}

.carousel__button:hover {
    background: rgba(0, 0, 0, 0.8); /* Darken background on hover */
}

.carousel__button--left {
    left: 10px; /* Adjust position */
}

.carousel__button--right {
    right: 10px; /* Adjust position */
}

.carousel__indicators {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.carousel__indicator {
    width: 10px;
    height: 10px;
    background: var(--clr-lt);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    border: 2px solid var(--clr-drk); /* Add border around indicators */

}

.carousel__indicator.active {
    background: var(--clr-accent);
}

.carousel-section h3 {
    text-align: center;
    color: var(--clr-lt); /* Optional: Adjust text color for better contrast */
    padding-bottom: 5 em;

}

/**********/
/* FOOTER */
/**********/
.footer {
    background: rgb(15, 9, 26);
    color: var(--clr-accent-light);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    color: var(--clr-lt);
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;


    margin: 1em 0 0;
    padding: 0;
}


.social-list__item {
    margin: 0.5em;
}

.social-list__link {
    color: var(--clr-lt);
    padding: 0em;
}


